<ng-container>
    <div class="section user-profile-wrap">
        <div class="user-cover" *ngIf="user" [ngStyle]="{
      'background': 'url(' + user?.cover + ') no-repeat center/cover ', 
      'height': '400px'}">
        </div>
        <div class="user-controls-container container">
            <div class="user-avatar">
                <img src="{{user.avatar}}" alt="">
            </div>
            <div class="user-controls d-flex justify-content-end">
                <nav class="tab-nav d-flex">
                    <a (click)="activeTab = 'selfies'" [ngClass]="{'active': activeTab == 'selfies'}" class="tab">Selfies</a>
                    <a (click)="activeTab = 'favourites'" [ngClass]="{'active': activeTab == 'favourites'}" class="tab">Favourites</a>
                    <a (click)="activeTab = 'followers'" [ngClass]="{'active': activeTab == 'followers'}" class="tab">Followers</a>
                    <a (click)="activeTab = 'followings'" [ngClass]="{'active': activeTab == 'followings'}" class="tab">Followings</a>
                </nav>
            </div>
            <div class="user-tab-content">
                <app-user-profile-images *ngIf="activeTab == 'selfies'"></app-user-profile-images>
                <app-user-profile-favourites *ngIf="activeTab == 'favourites'"></app-user-profile-favourites>
                <app-user-profile-follows *ngIf="activeTab == 'followers' || activeTab == 'followings'"></app-user-profile-follows>
            </div>
        </div>
    </div>
</ng-container>